.add{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    h2{
        color: white;
        text-align: center;
        margin-top: 0;
        text-transform: capitalize;
    }
    .div-add{
        background: #0F575C;
        padding: 2rem;
        label{
            color: white;
        }
        p{
            color: red;
        }
        .desc{
            color: white;
        }
    }
    .div-btn{
        display: flex;
        justify-content: center;
    }
}
